.searchContainer {
    height: 100%;
    width: 100%;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.searchBar {
    box-sizing: border-box;
    background-color: azure;
    outline: none;
    border: 1px solid lightgray;
    padding: 15px;
    width: 300px;
    margin-top: 20px;
    border-radius: 5px;
}

.searchBar::-webkit-input-placeholder {
    color: rgb(209, 209, 209)
}

.dividerLine {
    position: relative;
    box-sizing: border-box;
    max-width: 300px;
    width: 300px;
    text-align: center;
}

.dividerLine:before {
    content: " ";
    display: block;
    height: 2px;
    width: 130px;
    position: absolute;
    top: 50%;
    left: 0;
    background: rgb(209, 209, 209);
}

.dividerLine:after {
    content: " ";
    display: block;
    height: 2px;
    width: 130px;
    position: absolute;
    top: 50%;
    right: 0;
    background: rgb(209, 209, 209);
}

.locationButton {
    background-color: #43aefc;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    outline: none;
    color: azure;
    padding: 10px;
    width: 300px;
    height: 40px;
    font-weight: 600;
    cursor: pointer;
}

.locationButton:hover {
    background-color: #2ca7ff;
}

.suggestions {
    box-sizing: border-box;
    /* background-color: azure; */
    min-width: 300px;
    position: absolute;
    z-index: 10;
    top: 94px;
    height: 153px;
    padding: 10px;
}